<section class="about-us">
  <div class="section-block-sample">
    <div class="section-block-sample__material-container">
      <img
        class="about-us__img"
        src="img/special-graphics/2.svg"
        alt="About us img"
      />
    </div>
    <div class="section-block-sample__content-container">
      <p class="section-block-sample__name">About us</p>
      <h2 class="h2 section-block-sample__title">
        We Are
        <span class="text-color-changer-international-orange"
          >Making Ideas Better </span
        >For Everyone
      </h2>
      <p class="section-block-sample__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur
        imperdiet at a augue ullamcorper. Leo faucibus feugiat rutrum aenean.
        <span class="about-us__description-add-large">
          Nisi, lectus aliquet aliquam consectetur augue praesent. Lorem
          vulputate orci eget mi, sed pulvinar.
        </span>
      </p>
      <p class="section-block-sample__description">
        Ornare etiam erat volutpat tempor fringilla mi. Elit a blandit faucibus
        est, dui interdum ut amet.
        <span class="about-us__description-add-large">
          Adipiscing feugiat vel at posuere in. Pellentesque volutpat
          vestibulum.
        </span>
      </p>
      <button class="btn section-block-sample__btn" type="button">
        Contact Us
      </button>
    </div>
  </div>
  <div class="about-us__second-part">
    <ul class="about-us__cards">
      <li class="about-cards">
        <img class="about-cards__icon" src="img/icons/file.svg" alt="" />
        <p class="about-cards__description">
          World leader in consulting and finance
        </p>
      </li>
      <li class="about-cards">
        <img class="about-cards__icon" src="img/icons/parentheses.svg" alt="" />
        <p class="about-cards__description">
          A focused team with a specialized skill
        </p>
      </li>
      <li class="about-cards">
        <img class="about-cards__icon" src="img/icons/gear.svg" alt="" />
        <p class="about-cards__description">
          Trusted and professional advisors for you
        </p>
      </li>
      <li class="about-cards">
        <img class="about-cards__icon" src="img/icons/experience.svg" alt="" />
        <p class="about-cards__description">
          Experience to give you a better results
        </p>
      </li>
    </ul>
  </div>
</section>
