<section class="contact-us">
  <div class="name-and-title-sample">
    <p class="name-and-title-sample__name">Contact Us</p>
    <h2 class="h2 name-and-title-sample__title">
      Feel
      <span class="text-color-changer-international-orange"
        >Free <br />to Contact
      </span>
      With Us
    </h2>
  </div>
  <ul class="contact-us__cards">
    <li class="contact-cards">
      <div class="contact-cards__upper-part-wrapper">
        <img
          class="contact-cards__img"
          src="img/contact/mail.svg"
          alt="mail icon"
        />
        <div>
          <p class="contact-cards__name">Drop a line</p>
          <p class="contact-cards__title">Mail Us</p>
        </div>
      </div>
      <ul class="contact-cards__info">
        <li class="contact-cards__info-item">Support87@gmial.com</li>
        <li class="contact-cards__info-item">ijkuiu874@gmial.com</li>
      </ul>
    </li>
    <li class="contact-cards">
      <div class="contact-cards__upper-part-wrapper">
        <img
          class="contact-cards__img"
          src="img/contact/phone-call.svg"
          alt="mail icon"
        />
        <div>
          <p class="contact-cards__name">24/7 Service</p>
          <p class="contact-cards__title">Call Us</p>
        </div>
      </div>
      <ul class="contact-cards__info">
        <li class="contact-cards__info-item">
          +880 265 98745
          <span class="text-color-changer-international-orange">(Free)</span>
        </li>
        <li class="contact-cards__info-item">+895 855 85589</li>
      </ul>
    </li>
    <li class="contact-cards">
      <div class="contact-cards__upper-part-wrapper">
        <img
          class="contact-cards__img"
          src="img/contact/map-pin.svg"
          alt="mail icon"
        />
        <div>
          <p class="contact-cards__name">Location</p>
          <p class="contact-cards__title">Visit Us</p>
        </div>
      </div>
      <ul class="contact-cards__info">
        <li class="contact-cards__info-item">
          158 ralegih sit, houston, yk 5896,uk
        </li>
      </ul>
    </li>
  </ul>
  <div class="send-form-sample contact-us__send-form">
    <div class="send-form-sample__materials">
      <img
        class="send-form-sample__materials-img"
        src="img/special-graphics/3.svg"
        alt="Image for form"
      />
    </div>
    <div class="send-form-sample__forms-contaner">
      <h3 class="h3 send-form-sample__forms-title">
        Send Your
        <span class="text-color-changer-international-orange"
          >Message To Us</span
        >
      </h3>
      <form class="send-form-sample__forms">
        <input class="form-set" type="text" placeholder="Name" />
        <input class="form-set" type="email" placeholder="Email" />
        <input class="form-set" type="tel" placeholder="Mobile No" />
        <input class="form-set" type="text" placeholder="Subject" />
        <textarea
          class="form-set -textarea"
          placeholder="Send Massage"
        ></textarea>
        <input
          class="btn send-form-sample__btn"
          type="submit"
          value="Send Massage"
        />
      </form>
    </div>
  </div>
  <div class="contact-us__map-wrapper">
    <iframe
      class="contact-us__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50607.30409545397!2d-122.3349424355463!3d37.55608850210323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9e60efa95545%3A0xfd8efcf42dcc1ba7!2z0KHQsNC9LdCc0LDRgtC10L4sINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1659024843989!5m2!1sru!2sru"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <ul class="contact-us__sponsors">
    <li>
      <img
        class="contact-us__sponsors-img"
        src="img/sponsors/1.png"
        alt="Gluten free"
      />
    </li>
    <li>
      <img
        class="contact-us__sponsors-img"
        src="img/sponsors/2.png"
        alt="Butchery"
      />
    </li>
    <li>
      <img
        class="contact-us__sponsors-img"
        src="img/sponsors/3.png"
        alt="Organic product"
      />
    </li>
    <li>
      <img
        class="contact-us__sponsors-img"
        src="img/sponsors/4.png"
        alt="Restaurant"
      />
    </li>
  </ul>
</section>