<!-- partials/footer.hbs -->

<footer class="footer">
  <div class="footer__body">
    <div class="footer__text-part">
      <img class="footer__logo" src="img/icons/logo-dark.svg" alt="Logo" />
      <p class="footer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit a
        laoreet libero dis eget maecenas bibendum.
      </p>
      <ul class="footer__contact-list">
        <li>
          <a href="#"
            ><img
              class="footer__icon"
              src="img/icons/facebook-fill.svg"
              alt="facebook icon"
          /></a>
        </li>
        <li>
          <a href="#">
            <img
              class="footer__icon"
              src="img/icons/instagram-fill.svg"
              alt="instagram icon"
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="footer__icon"
              src="img/icons/twitter-fill.svg"
              alt="twitter icon"
          /></a>
        </li>
        <li>
          <a href="#">
            <img
              class="footer__icon"
              src="img/icons/skype-fill.svg"
              alt="skype icon"
          /></a>
        </li>
      </ul>
    </div>
    <div class="footer__menu-part">
      <h2 class="footer__title">Newsletter</h2>
      <nav>
        <ul class="footer__menu-list">
          {{#each navigationItems}}
            <li>
              <a class="animation-href footer__menu-item" href="{{ this.href }}">{{ this.title }}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
    </div>
    <div class="footer__menu-part">
      <h2 class="footer__title">Services</h2>
      <nav>
        <ul class="footer__menu-list">
          <li>
            <a class="animation-href footer__menu-item" href="#"
              >Graphic Design</a
            >
          </li>
          <li>
            <a class="animation-href footer__menu-item" href="#"
              >UI/UX Design</a
            >
          </li>
          <li>
            <a class="animation-href footer__menu-item" href="#"
              >Web Development</a
            >
          </li>
          <li>
            <a class="animation-href footer__menu-item" href="#"
              >App Development</a
            >
          </li>
          <li>
            <a class="animation-href footer__menu-item" href="#"
              >Web Hosting</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__text-part">
      <h2 class="footer__title">Newsletter</h2>
      <p class="footer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem eget
        varius viverra in.
      </p>
      <form class="email-sender">
        <input
          class="email-sender__input-email"
          type="email"
          name=""
          id=""
          placeholder="info@gmail.com"
        />
        <button class="email-sender__button">
          <img
            class="email-sender__button-img"
            src="img/icons/send-icon.svg"
            alt=""
          />
        </button>
      </form>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__copyright-body">
      <img
        class="footer__copyright-img"
        src="img/icons/copyright-fill.svg"
        alt="copyright icon"
      />
      <p class="footer__copyright-text">
        Copyright 2021. All Right Reserved By Ojjomedia
      </p>
    </div>
  </div>
</footer>