<section class="main-preview">
  <div class="main-preview__body">
    <div class="main-preview__img-container">
      <img
        class="main-preview__img"
        src="img/special-graphics/1.svg"
        alt="Best business"
      />
    </div>
    <div class="main-preview__content-container">
      <h1 class="h1 main-preview__title">
        We Are The Best
        <span class="text-color-changer-international-orange">
          Digital Agency</span
        >
        for business
      </h1>
      <p class="main-preview__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
        <span class="main-preview__description-add">
          Exercitation veniam consequat sunt nostrud amet.
        </span>
      </p>
      <button class="btn main-preview__btn" type="button">Contact Us</button>
    </div>
  </div>
</section>
