/*Hide sets*/

  /* for mobile */
  .hidden {
    display: none;
  }
  
  /* for tablet */

  @media (min-width: map-get($breakpoint,"medium")) {
    .tablet-hidden {
      display: none;
    }
  
    .tablet-inline {
      display: inline;
    }
  
    .tablet-block {
      display: block;
    }
  
    .tablet-flex {
      display: flex;
    }
  
    .tablet-grid {
      display: grid;
    }
  }
  
  /* for desktop */
  
  @media (min-width: map-get($breakpoint,"large")) {
    .desktop-hidden {
      display: none;
    }
  
    .desktop-inline {
      display: inline;
    }
  
    .desktop-block {
      display: block;
    }
  
    .desktop-flex {
      display: flex;
    }
  }