.about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(6) spacing(12) spacing(5);
    background-color: map-get($colors, "white");
    box-shadow: $default-box-shadow;
    @include dark-theme {
        background-color: map-get($colors, "cape-cod");
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__description {
        margin: spacing(9) 0 0;
        font-size: map-get($colors, "large");
        font-weight: 500;
        color: map-get($colors, "mine-shaft");
        text-align: center;
        @include dark-theme {
            color: map-get($colors, "white");
        }
    }
}

@media (min-width: map-get($breakpoint,"medium")) {
    .about-cards {
        flex-basis: 25%;
        padding: spacing(9) spacing(3) spacing(5);
        
        &__description {
            font-weight: 400;
        }
        
        &:hover {
            transform: scale(1.05);
            transition: transform 300ms;
        }
    }
}


