.about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(6) spacing(12) spacing(5);
    box-shadow: 0px 1px 10px rgba(map-get($colors, "black"), 0.1);

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__description {
        margin: spacing(9) 0 0;
        font-size: map-get($colors, "large");
        font-weight: 500;
        color: map-get($colors, "mine-shaft");
        text-align: center;
    }
}

@media (min-width: map-get($breakpoint,"medium")) {
    .about-cards {
        padding: spacing(9) spacing(3) spacing(5);
        &.-flex-basis_25 {
            flex-basis: 25%;
        }
        
        &__description {
            font-weight: 400;
        }
        
        &:hover {
            transform: scale(1.05);
            transition: transform 300ms;
        }
    }
}


