.section-title {
  text-align: inherit;

  &__name {
    margin: 0;
    text-align: inherit;
  }

  &__title {
    margin: spacing(4) 0 0;
    text-align: inherit;
  }
}

@media (min-width: map-get($breakpoint,'large')) {
  .section-title {
    &__title {
      margin-top: spacing(6);
    }
  }
}
