//global container
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container_shadow {
    position:relative;
    z-index: 2;
    box-shadow: 0px 1px 10px map-get($colors , "black-10" );
}

.container_sauvignon {
    background-color: map-get($colors , "sauvignon" );
}