.about-us {
    @include container-default();
    padding: spacing(12) spacing(5);

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__second-part {
        margin: spacing(12) 0 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: spacing(8) 0;
        margin: 0;
        padding: 0;
    }

    &__description-add-medium {
        display: none;
    }

    &__description-add-large {
        display: none;
    }

}

@media (min-width: map-get($breakpoint,"medium")) {
    .about-us {
        padding: spacing(30) spacing(10);
        &__second-part {
            margin: spacing(21) 0 0;
        }

        &__cards {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 0 spacing(6);
        }
    }
}

@media (min-width: map-get($breakpoint,"large")) {
    .about-us {
        padding: spacing(30) spacing(34);
        &__cards {
            gap: 0 spacing(8);
        }

        &__description-add-large {
            display: inline;
        }
    }
}
