.clients-feedback {
    background-color: map-get($colors, "sauvignon");
    @include dark-theme {
        background-color: map-get($colors, "shark");
    }
    &__body {
        @include container-default;
        padding: spacing(12) spacing(5);
    }
}

@media (min-width: map-get($breakpoint,"medium")) {
    .clients-feedback {
        &__body {
            padding: spacing(15) spacing(10);
        }
    }
}

@media (min-width: map-get($breakpoint,"large")) {
    .clients-feedback {
        &__body {
            padding: spacing(15) spacing(34);
        }
    }
}
