.header {
    @include dark-theme {
        background-color: map-get($colors, "cape-cod");
    }
  
    &__body {
        @include container-default();
        display: flex;
        padding: spacing(3) spacing(4);
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-basis: 33%;
    }

    &__logo-link {
        display: flex;
    }
    &__logo-img {
        height: 24px;
    }

    &__menu {
        display: none;
    }

    &__menu-item {
        @include dark-theme {
            color: map-get($colors, "white");
        }
    }

    &__theme-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 33%;
        background: none;
        border: none;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__burger-menu {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-basis: 33%;
    }
}

@media (min-width: map-get($breakpoint,"medium")) {
    .header {
        position: relative;
        z-index: 2;
        box-shadow: $default-box-shadow;

        &__body {
            padding: spacing(7) spacing(10);
        }

        &__logo {
            flex-basis: auto;
            margin-right: spacing(7);
        }

        &__logo-img {
            height: 20px;
        }

        &__menu {
            display: flex;
        }

        &__menu-body {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
        }

        &__menu-item {
            margin-right: spacing(6);
            line-height: 1.25em;
            color: map-get($colors, "mine-shaft");
        }
        &__theme-switcher {
            flex-basis: auto;
            margin-left: auto;
        }
        &__burger-menu {
            display: none;
        }
    }
}

@media (min-width: map-get($breakpoint,"large")) {
    .header {
        &__body {
            padding: spacing(7) spacing(34);
        }

        &__logo {
            margin-right: spacing(19);
        }

        &__logo-img {
            height: 36px;
        }

        &__menu-item {
            margin-right: spacing(9);
            @include font-size("large");
            font-weight: 500;
        }
    }
}
