body {
    font-family: map-get($font-family, "main");
    @include font-size ("medium");
    line-height: 1.5em;
    font-weight: 400;
    color: map-get($colors , "boulder" );
    background-color: map-get($colors , "white" );
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul li, menu li {
    list-style: none;
}

a {
    text-decoration: none;
}



