//Breakpoints
$breakpoint: (
    "medium": 768px,
    "large": 1440px,
);

// Colors
$colors: (
    "international-orange": #ff5300,
    "crusta": #ff7e40,
    "sorbus": #fc800d,
    "atomic-tangerine": #ffa073,
    "sauvignon": #fff7f4,
    "mine-shaft": #373737,
    "boulder": #7b7b7b,
    "white": #ffffff,
    "black": #000000,
    "woodsmoke": #18191a,
    "shark": #242526,
    "cape-cod": #3a3b3c,
);

//Spacing
$spacing-default-ratio: 4px;

//fonts
$font-family: (
    "main": (
        "Work Sans",
        sans-serif,
    ),
);

$font-size: (
    "small": 12px,
    "medium": 16px,
    "large": 20px,
    "xlarge": 25px,
    "xxlarge": 32px,
    "xxxlarge": 40px,
    "huge": 48px,
);

//shadow
$default-box-shadow: 0px 1px 10px rgba(map-get($colors, "black"), 0.1);
$orange-box-shadow: 0px 1px 10px rgba(map-get($colors, "international-orange"), 0.4);
